body
{
    background: #6c6c6c;
    background-image: url(../images/fon/1920_1080_kontakt_fon_.jpg);
    color: #353535;
    margin: 0;
    padding: 0;
}

@font-face
{
    font-family: a_Futurica;
    src: url(fonts/a_Futurica.ttf);
}

a
{
    font-size: 14px;
    font-weight: 100;

    letter-spacing: 0;

    color: #fafafa;
}

a:hover
{
    -webkit-transition: all .9s;
         -o-transition: all .9s;
            transition: all .9s;

    color: #000;
}
a:active
{
    color: #f00;
}

#slider
{
    width: 100%;
    height:100%;
}

#slider2
{
    display: none;
}

/* Основные */

.section
{
    text-align: center;
}

/*.social
{
    margin-top: 100px;
}*/

.social_top_hover{
    opacity: 0.6;
}
.social_top_hover:hover{
    opacity: 1;
}

/*Footer*/


footer{/*
    background-image: url(../images/fon/fon_footer.jpg);*/
    position: absolute;
    /*display: inline-block;*/
    clear: both;
    width: 100%;
    height: 250px;
    margin: 40px auto;
    margin-bottom: 0px;
    border-top: 2px dashed #fff;
    background: #323030;
    text-align: center;

}
.counter{
 float: left;
}
.social_footer{
    float: left;
    width: 100%;
    text-align: center;
    padding: 25px  20px 50px 20px;
}

.social_hover{
    opacity: 0.5;

}

.social_hover:hover{
    opacity: 1;
}
.button_up{
float: left;
}


/*СТИЛИ ДЛЯ МЕНЮ*/

#mainMenu
{
    position: fixed;
    z-index: 999;
    top: 10px;
    left: 3%;

    float: left;

    margin: 0;
    padding: 0;

    list-style: none;
}
.menu__li
{
    display: inline-block; /*задает размещение в строчку*/
}

.menu__a
{
    font-size: .8em;  /*стиль пунктов меню*/

    padding: 6px;

    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
    text-decoration: none;

    color: #fafafa;
    border-radius: 6px;
}

.menu__a:hover
{
    color: #fff;
    background: rgba(0, 0, 0, .31);
}


.menu__li.active .menu__a
{
    color: #fff;
    /*  background: #2f2e2e;*/
    background: rgba(0, 0, 0, .31); /*подсветка меню при наведении*/
}

.social_top
{
    position: fixed;
    z-index: 999;
    top: 10px;
    right: 3%;

    float: left;

    margin: 0;
    padding: 0;

    list-style: none;
}

/*Logo*/

.logo
{
    position: fixed;
    z-index: 9999;

    width: 30%;
    height: 30%;
    margin-top: 20%;
    margin-left: 3%;
}

/*Page 1*/


.p1
{
    /*background-image: url(/images/zaglavnaia.jpg);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  */
}


/*Page 2*/
.p2
{
    background-image: url('../images/fon/1920_1080_o sebe_.jpg');
    background-position: center;
    -webkit-background-size: cover;
            background-size: cover;
}


.h2_
{
    font-size: 34px;
    font-weight: 100;

    letter-spacing: 4px;
}

.text
{
    font-size: 14px;
    font-weight: 200;
    line-height: .7;

    margin: 50px;
}

.h3_
{
    font-size: 16px;
    font-weight: 200;

    letter-spacing: 0;
}

/*Page 3 Видео*/

.p3
{
    background-image: url('../images/fon/1920_1080_video_.jpg');
    /*background-image: url('../images/fon/1920_1080_video.jpg');*/
    background-position: center;
    -webkit-background-size: cover;
            background-size: cover;
}

/*Видео страничка*/

.video_container{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video_frame_decoration iframe
{
    border: 5px solid rgba(191, 187, 187, .45);
    box-shadow: 5px  5px  15px #c1c1c1;

}

.video__hover
{
    margin: 0 0 0 5px;

    border: 5px solid rgba(191, 187, 187, .45);
    box-shadow: 5px  5px  15px #c1c1c1;
}

/*Page 4 Фото*/
.p4
{
    background-image: url('../images/fon/1920_1080_foto_.jpg');
    /*background-image: url('../images/fon/1920_1080_kontakt_fon.jpg');*/
    background-position: center;
    -webkit-background-size: cover;
            background-size: cover;
}
/*Page 5*/
.p5
{
    background-image: url('../images/fon/1920_1080_kontakt_fon_.jpg');
    background-position: center;
    -webkit-background-size: cover;
            background-size: cover;
}

.contact{
    margin:  20px 0 0 38%;
    padding-top: 30px;
    border:  3px solid #fff;
    width: 325px;
    height: 285px;
    border-radius: 50%;
}

.p_contact_1
{
    font-size: 30px;
    font-weight: 100;

    text-align: center;
    letter-spacing: 2px;

    color: #fafafa;
    /*text-shadow: 1px 1px 1px #f0f0f0;*/
}
.p_contact_2
{
    font-size: 20px;
    font-weight: 200;

    text-align: center;
    letter-spacing: 2px;

    color: #fafafa;
    /*text-shadow: 1px 1px 1px #f0f0f0;*/
}
.p_contact_3
{
    font-size: 28px;
    font-weight: 300;

    text-align: center;
    letter-spacing: 2px;

    color: #fafafa;
    /*text-shadow: 1px 1px 1px #f0f0f0;*/
}


.fotosize
{
    margin-right: 3%;
    margin-left: 3%;

    cursor: pointer;
    -webkit-transition: all 1s ease-in-out;
       -moz-transition: all 1s ease-in-out;
         -o-transition: all 1s ease-in-out;

    opacity: 1;
    border: 5px solid #fff;
    border-radius: 50%;
}

.fotosize:hover
{
    width: 350px;
    height: auto;

    -webkit-transform: scale(1.2);
       -moz-transform: scale(1.2);
         -o-transform: scale(1.2);
            transform: scale(1.5);

    opacity: 1;
    border-radius: 2px;
    background-position: center;
    box-shadow: 15px 5px 25px rgba(255, 255, 255, .72);
}


/*Кнопки на слайдерах*/

.fp-controlArrow.fp-next,
.fp-controlArrow.fp-prev
{
    font-size: 30px;
    line-height: .3;

    width: auto;
    height: auto;
    margin-top: -17px;

    -webkit-transition: all .4s;
         -o-transition: all .4s;
            transition: all .4s;

    border-width: 5px;
    border-color: #d6d3d3;
    border-radius: 50%;
    box-shadow: 3px 5px 25px #d6d3d3;
}

.fp-controlArrow.fp-next:hover,
.fp-controlArrow.fp-prev:hover
{
    -webkit-transform: scale(1.1) rotate(360deg);
        -ms-transform: scale(1.1) rotate(360deg);
         -o-transform: scale(1.1) rotate(360deg);
            transform: scale(1.1) rotate(360deg);

    color: rgba(217, 217, 217, .71);
}

/*SIZE*/


@media screen and (max-width: 1100px)
{
    a.bx-next, a.bx-prev{
        display: none;
    }

    #slider
    {
        display: none;
    }
    .p1{
    background-image: url(../images/post_1200_1000/10.jpg);
      background-position: center;
      -webkit-background-size: cover;
              background-size: cover;
    }

   /* #slider2{
      display: block;
      width: 1130px;
      height: auto;
      background-image: url(../images/fon/1920_1080_kontakt_fon_.jpg);
      background-position: center;
      -webkit-background-size: cover;
              background-size: cover;
    }*/
    .menu__li
    {
        font-size: 14px;
        line-height: 25px;

        display: list-item;

        opacity: .7;
    }

    .fotosize
    {
        width: 25%;
        height: auto;
    }

    .fotosize:hover{
        -webkit-transform: scale(1.1);
           -moz-transform: scale(1.1);
             -o-transform: scale(1.1);
                transform: scale(1.1);

        opacity: 1;
        border-radius: 2px;
        background-position: center;
        box-shadow: 15px 5px 25px rgba(255, 255, 255, .72);

    }
    .logo
    {
        display: none;
    }
   /* .contact
    {
        margin-left:45px;

    }
    .p_contact_1
    {
        font-size: 26px;
    }
    .p_contact_2
    {
        font-size: 18px;
    }
    .p_contact_3
    {
        font-size: 12px;
    }
    a
    {
        font-size: 10px;
    }*/
}   

@media screen and (max-width: 768px)
{
    a.bx-next, a.bx-prev{
        display: none;
    }

    .menu__li
    {
        font-size: 14px;
        line-height: 25px;

        display: list-item;

        opacity: .7;
    }

    #slider
    {
        display: none;
    }
   /* #slider2{
      display: none;
    }*/
    .p1
    {
        background-image: url('../images/post_1200_1000/6.jpg');
        background-position: center;
        -webkit-background-size: cover;
                background-size: cover;
    }

    .fotosize
    {
        width: 25%;
        height: auto;
    }
    .fotosize:hover
    {
        -webkit-transform: scale(1.1);
           -moz-transform: scale(1.1);
             -o-transform: scale(1.1);
                transform: scale(1.1);

        opacity: 1;
        border-radius: 2px;
        background-position: center;
        box-shadow: 15px 5px 25px rgba(255, 255, 255, .72);

    }
    .logo
    {margin: 150px 0 0 -15px;

        transform: scale(.5);
    }
    .text
    {
        font-size: 12px;
    }
    .h2_
    {
        font-size: 20px;
    }
    .h3_
    {
        font-size: 18px;
    }

    .contact
    {

    }

/*
    .h2_cont
    {
        font-size: 24px;
    }
    .h3_cont
    {
        font-size: 16px;
    }
    .h4_cont
    {
        font-size: 10px;
    }
    a
    {
        font-size: 10px;
    }*/
}


@media screen and (max-width: 650px)
{
    .text
    {
        font-size: 11px;
    }
    .h2_
    {
        font-size: 19px;
    }
    .h3_
    {
        font-size: 17px;
    }
    .logo
    {margin: 40px auto;

        transform: scale(.4);
    }
   /* .contact
    {
        width: 75%;padding: 3%;
    }
    .h2_cont
    {
        font-size: 12px;
    }
    .h3_cont
    {
        font-size: 12px;
    }
    .h4_cont
    {
        font-size: 12px;
    }
    a
    {
        font-size: 9px;
    }*/
}

@media screen and (max-width: 610px)
{
    .fotosize
    {
        width: 25%;
        height: auto;
    }

    .text
    {
        font-size: 10px; margin: 0 auto;
    }
    .h2_
    {
        font-size: 18px;
    }
    .h3_
    {
        font-size: 16px;
    }
   /* .contact
    {
        width: 75%; padding: 2%;
    }
    .h2_cont
    {
        font-size: 12px;
    }
    .h3_cont
    {
        font-size: 12px;
    }
    .h4_cont
    {
        font-size: 12px;
    }
    a
    {
        font-size: 8px;
    }*/
}
@media screen and (max-width: 550px)
{
    .text
    {
        font-size: 9px;line-height: 14px;

        overflow: hidden; /* Обрезаем содержимое */margin: 0 auto;

        white-space: nowrap; /* Отменяем перенос текста */
    }
    .h2_
    {
        font-size: 18px;
    }
    .h3_
    {
        font-size: 16px;
    }
  /*  .contact
    {
        width: 75%;padding: 2%;
    }
    .h2_cont
    {
        font-size: 12px;
    }
    .h3_cont
    {
        font-size: 12px;
    }
    .h4_cont
    {
        font-size: 12px;
    }
    a
    {
        font-size: 7px;
    }*/
}

/*Стрелка вверх*/

.button_up{
    /*position: fixed;*/
    float: left;
    margin-right: 5px;

}

.clearfix:before,
.clearfix:after
{
    display: table;

    content: ' ';
}
.clearfix:after
{
    clear: both;
}
